@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-saira: Saira;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-4xs-7: 8.7px;
  --font-size-2xs-3: 10.3px;
  --font-size-mid-1: 17.1px;
  --font-size-6xs-5: 6.5px;
  --font-size-3xs-5: 9.5px;
  --font-size-3xs-3: 9.3px;
  --font-size-xs-9: 11.9px;
  --font-size-5xs-1: 7.1px;
  --font-size-4xs-6: 8.6px;
  --font-size-2xs-6: 10.6px;
  --font-size-smi-9: 12.9px;

  /* Colors */
  --color-white: #fff;
  --color-goldenrod-100: #ffc240;
  --color-goldenrod-200: rgba(255, 194, 64, 0.3);
  --color-black: #000;
  --color-gray-100: #040404;
  --color-gray-200: rgba(0, 0, 0, 0.5);

  /* border radiuses */
  --br-8xs-4: 4.4px;
  --br-9xs-2: 3.2px;
  --br-8xs-2: 4.2px;
  --br-7xs-5: 5.5px;
  --br-11xs-7: 1.7px;
  --br-7xl-8: 26.8px;
}
